<html xmlns:th="http://www.thymeleaf.org">


<head th:replace="layouts::header"></head>

<body>
  <nav th:replace="layouts ::navbar"></nav>

  <div>
      <table th:fragment="merchants"  class="table table-bordered">
          <thead>
          <tr>
              <th> Merchant ID</th>>
              <th>Merchant Status</th>
              <th>Merchant Description</th>
              <th>Merchant Email</th>
              <th>Total Transaction sum</th>
              <th> Edit Merchant</th>>
              <th> Delete Merchant</th>>
          </tr>
          </thead>
          <tbody>
          <tr th:each="merch : ${merchants}">
              <td th:text="${merch.identifier}"></td>
              <td th:text="${merch.merchantStatus}"></td>
              <td th:text="${merch.description}"></td>
              <td th:text="${merch.email}"></td>
              <td th:text=${merch.totalTransactionSum}></td>
              <form  th:action =  "@{'/merchants/edit/' + ${merch.identifier}}"    method="GET">
                <td><button type="submit" class="editbutton" >Edit</button></td>
              </form>
              <form  th:action =  "@{'/merchants/delete/' + ${merch.identifier}}"    method="POST">
                  <td><button type="submit" class="deletebutton" >Delete</button></td>
              </form>
          </tr>
          </tbody>
      </table>

  </div>

</body>
</html>